
    <h1>Compra exitosa!</h1>
    <ul>
        {{#each purchase}}
            <li>
                <strong>Código:</strong> {{this.code}} <br>
                <strong>Fecha de Compra:</strong> {{this.purchase_datetime}} <br>
                <strong>Monto:</strong> {{this.amount}} <br>
                <strong>Comprador:</strong> {{this.purchaser}} <br>
                <a  class="btn btn-secondary m-2 ml-10 "  href="/api/products">Lista de productos productos</a>
            </li>

        {{/each}}
    </ul>