<div class="chat-container">
  <input type="text" id="message-input" placeholder="Escribe tu mensaje...">
  <button id="send-button">Enviar</button>
  <ul id="message-list"></ul>
</div>
 <script src="/socket.io/socket.io.js"></script>
   <script src="/public/js/socket.js"></script>

