<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chatbox</title>
</head>
  <h1 style="color: #00e4e5;text-align: center;">Chat</h1>
  <form id="chat-form" action="/api/messages" method="POST">
    <input class="btn btn-outline-info" type="text" id="user-input" name="user" placeholder="Correo del usuario">
    <input class="btn btn-outline-info" type="text" id="message-input" name="message" placeholder="Mensaje">
    <button class= "btn btn-info" type="submit">Enviar</button>
  </form>
  <ul>
    {{#each messages}}
      <li><strong>{{this.user}}:</strong> {{this.message}}</li>
      
    {{/each}}
  </ul>
  </html>
